.sidebar {
background-color: #005c8c;
color: white;
text-align: left;
margin-top: -20px;
margin-bottom: -20px;
width: 150px;
height: 50%;
padding: 8px 7px 2px 7px;

}

.sidebar a {
color: white;
}

.sidebar li a :hover{
color: grey;
}

.zoom{

    /* Aumentamos la anchura y altura durante 2 segundos */

    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;

}
.zoom:hover{

    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). Gracias a internet!!*/
    transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}